img {
  width: 80px;
  margin: auto;
}

.accordion-button:focus {
  z-index: 3;

  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-control:focus {
  z-index: 3;

  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
